body {
  margin-top: 25px;
}

h1 {
  box-shadow: 0px 10px 10px -10px lightgray;
}

#app {
  margin-bottom: 130px;
}

#footer {
  box-shadow: 0px -10px 10px -10px lightgray;
}

.twitter-typeahead:nth-child(n+3) {
  width: 5px;
}

div.total-points {
  font-size: 2rem;
  margin-top: -8px;
}

div.min-points-notice {
  margin-top: -5px;
}

label .material-icons {
  font-size: 1rem;
  vertical-align: -16%;
}

.add-note {
  visibility: hidden;
}
label:hover .add-note {
  visibility: visible;
}

@media (hover: none) {
  .add-note {
    visibility: visible;
  }
}
