.introDiv, .stepDiv, .finalDiv {
  min-height: 480px;
}
.introDiv {
  padding-top: 125px;
}
.finalDiv {
  padding-top: 100px;
}

.formFieldError{
  margin-top: 10px;
  text-align: center;
  color: red;
}
.invalid {
  border-color: red !important;
  background-color: #ff181817 !important;
}

.inhabitantEntry {
  background-color: #ddd;
  padding: 10px 5px 10px 15px;
}
.inhabitantEntry:nth-child(odd) {
  background-color: #eee;
}
.inhabitantEntry > button {
  float: right;
  margin-top: -3px;
  margin-left: 3px;
}

.noticeDiv {
  min-height: 25px;
  font-size: 13px;
  color: red;
}

.alertField {
  background-color: #b1d6ff9e;
  padding: 3px 6px 6px;
  border-radius: 5px;
  min-height: 51px;
}

.alertBox {
  background-color: #b1d6ff9e;
  border-radius: 5px;
  padding: 1px;
}
