<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Hindamisvorm - t3</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/tagsinput.css" />
    <link rel="stylesheet" href="css/typeaheadjs.css" />
    <link rel="stylesheet" href="fonts/material-icons.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="d-none">
    <main id="app" role="main" class="container">
      <div class="p-2">
        <div class="row">
          <div class="col">
            <h1 class="mb-4 pb-2">Hindamisvorm</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <h2>Üldinfo</h2>
            <p>
              Hindamisel:<br/>
              <strong class="lead">Kodutöö 2 - Bürokraatia (mäng)</strong>
            </p>
            <label for="homeworkUrl">
              Kodutöö URL:
            </label>
            <div id="homeworkUrlContainer">
              <input type="url" id="homeworkUrl" class="form-control" placeholder="Sisesta UNI-ID või URL" required
                  @blur="checkHomeworkUrl" @input="resetHomeworkUrlState" />
              <small v-if="homeworkUrlState == 'loading'" class="form-text text-muted mb-2">Laadimine...</small>
              <small v-else-if="homeworkUrlState == 'plagiarism'" class="form-text text-danger mb-2">Tuvastati tõenäoline plagiaat!</small>
              <small v-else-if="homeworkUrlState == 'no-plagiarism'" class="form-text text-success mb-2">Plagiaati ei tuvastatud.</small>
              <small v-else-if="homeworkUrlState == 'incorrect'" class="form-text text-danger mb-2">Ebakorrektne URL.</small>
              <small v-else-if="homeworkUrlState == 'empty'" class="form-text text-danger mb-2">URL peab olema sisestatud.</small>
              <small v-else class="form-text mb-2 invisible">Sisesta URL.</small>
            </div>
            <label for="students">
              Üliõpilased (kuni 2):
            </label>
            <input type="text" id="students" class="form-control" required />
            <small v-if="studentsState == 'empty'" class="form-text text-danger mb-2">Sisesta vähemalt üks.</small>
            <small v-else class="form-text mb-2 invisible">Sisesta kuni kaks.</small>
            <div class="row mt-4">
              <div class="col">
                <label>Tähtaeg</label>
                <p class="lead">
                  {{ formatDate(deadline) }}
                  <a v-if="originalDeadline.getTime() != deadline.getTime()" href="#"
                      data-toggle="tooltip" title="Algtähtaeg: <strong>11. aprill 2018</strong>">
                    <i class="material-icons original-deadline text-muted">info</i>
                  </a>
                </p>
              </div>
              <div class="col">
                <label v-if="daysOverdue > 0">Hilinemine</label>
                <label v-else>Jäänud</label>
                <p class="lead">
                  {{ Math.abs(daysOverdue) }}
                  päev<template v-if="Math.abs(daysSince(deadline)) != 1">a</template>
                  <template v-if="deadlinePointsPenalty != 0">
                    (<points-label :points="deadlinePointsPenalty" suffix="p"></points-label>)
                  </template>
                </p>
              </div>
            </div>
            <h3 class="mb-3 mt-2">Varasemad esitamised</h3>
            <table v-if="previousSubmissions.length > 0" class="table table-striped">
              <tr>
                <th>Kuupäev</th>
                <th class="text-center">Punktid</th>
                <th class="text-center">Vaata</th>
              </tr>
              <tr v-for="submission in previousSubmissions">
                <td>{{ formatDate(submission.date, true) }}</td>
                <td class="text-center">
                  <span :class="{'text-danger': submission.points < 10, 'text-success': submission.points >= 10 }">
                    {{ submission.points }}
                  </span>
                </td>
                <td class="text-center"><a href="#"><i class="material-icons">search</i></a></td>
              </tr>
            </table>
            <p v-else class="text-muted">(puuduvad)</p>
            <hr class="d-lg-none" />
          </div>
          <div class="col-lg">
            <h2 class="mt-4 mt-lg-0">Baaspunktid <points-label :points="numBasePoints"></points-label></h2>
            <p>10 punkti, kui kõik on lahendatud</p>
            <template v-for="factor in basePointsFactors">
              <label class="w-100 bg-light">
                <input type="checkbox" v-model="selectedBasePointsFactors" :value="factor" />
                {{ factor }}
                <a href="#" class="btn btn-sm ml-2 float-right"
                    :class="{ 'btn-primary': factorNotes[factor], 'btn-light add-note': !factorNotes[factor] }"
                    data-toggle="modal" data-target="#factorNoteModal"
                    @click="onNoteButton(factor)">
                  <i v-if="factorNotes[factor]" class="material-icons">description</i>
                  <i v-else class="material-icons">note_add</i>
                </a>
              </label>
              <br />
            </template>
            <template v-if="numBasePointsFactors < 6">
              <div class="alert mt-3"
                  :class="{'alert-danger': numBasePointsFactors < 4,
                           'alert-warning': numBasePointsFactors >= 4}">
                <template v-if="numBasePointsFactors == 5">
                  <strong>Üks</strong> baaspunkt
                </template>
                <template v-else-if="numBasePointsFactors == 4">
                  <strong>Kaks</strong> baaspunkti
                </template>
                <template v-else>
                  <strong>{{ 6 - numBasePointsFactors }}</strong> baaspunkti
                </template>
                on puudu.
              </div>
            </template>
            <template v-if="numBasePointsFactors == 4 || numBasePointsFactors == 5">
              <label>
                <input type="radio" name="grace" v-model.number="gracePoints" value="0">
                Ära loe lahendatuks
              </label>
              <br/>
              <label>
                <input type="radio" name="grace" v-model.number="gracePoints" value="5">
                Loe lahendatuks <span class="text-success font-weight-bold">+5</span> punkti eest
              </label>
              <br/>
              <label>
                <input type="radio" name="grace" v-model.number="gracePoints" value="10">
                Loe lahendatuks <span class="text-success font-weight-bold">+10</span> punkti eest
              </label>
            </template>
            <hr class="d-lg-none" />
          </div>
          <div class="col-lg">
            <h2 class="mt-4 mt-lg-0">Lisapunktid <points-label :points="numBonusPoints"></points-label></h2>
            <p>1 punkt igaühe eest</p>
            <template v-for="factor in bonusPointsFactors">
              <label class="w-100 bg-light">
                <input type="checkbox" v-model="selectedBonusPointsFactors" :value="factor" />
                {{ factor }}
                <a href="#" class="btn btn-sm ml-2 float-right"
                    :class="{ 'btn-primary': factorNotes[factor], 'btn-light add-note': !factorNotes[factor] }"
                    data-toggle="modal" data-target="#factorNoteModal"
                    @click="onNoteButton(factor)">
                  <i v-if="factorNotes[factor]" class="material-icons">description</i>
                  <i v-else class="material-icons">note_add</i>
                </a>
              </label>
              <br/>
            </template>
            <hr/>
            Täiendpunktid:
            <input type="number" class="form-control mb-2" v-model.number="additionalPoints" />
            Märkused:
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div id="footer" class="container pb-3 bg-white px-0" style="width: 100%; position: fixed; bottom: 0px">
        <div class="row mt-3 mr-2 mr-lg-0 ml-lg-1">
          <div class="col">
            <div class="progress mb-2">
              <div class="progress-bar" role="progressbar"
                  :class="{ 'bg-danger': numTotalPoints < 10, 'bg-success': numTotalPoints >= 10 }"
                  :style="{ width: pointsBarPercentage + '%' }"></div>
            </div>
          </div>
        </div>
        <div class="row mr-2 mr-lg-0 ml-lg-1">
          <div class="col-3">
            <div class="btn-group" role="group">
              <button class="btn btn-warning" :disabled="!canPostpone" @click="postpone">
                Pikenda<span class="d-none d-md-inline"> 1 nädal</span>
              </button>
              <button class="btn btn-light btn-sm"><i class="material-icons sma">undo</i></button>
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="total-points">
              <strong>{{ numTotalPoints }}</strong> / 20
            </div>
            <div class="min-points-notice"
                :class="{'text-danger': numTotalPoints < 10, 'text-success': numTotalPoints >= 10 }">
              Min 10p
            </div>
          </div>
          <div class="col-3">
            <button class="btn btn-success float-right" :disabled="!canSubmit">
              Kinnita
            </button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="factorNoteModal" tabindex="-1" role="dialog" aria-labelledby="factorNoteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="factorNoteModal">{{ currentNoteFactorName }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Sulge">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label>Märkused</label>
              <textarea class="form-control" rows="7" v-model="currentNote">
              </textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger mr-auto"
                  id="delPopover"
                  data-toggle="popover"
                  title="Kindel?"
                  data-content="
                  <button class='btn btn-secondary'
                      onclick='$(&quot;#delPopover&quot;).popover(&quot;hide&quot;)'>
                    Loobu
                  </button>
                  <button class='btn btn-danger'
                      onclick='$(&quot;#factorNoteModal&quot;).modal(&quot;hide&quot;); vm.onNoteDeleteButton(event)'>
                    Jah
                  </button>">
                Kustuta
              </button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Katkesta</button>
              <button type="button" class="btn btn-success" :disabled="!canSaveNote" @click="onNoteSaveButton" data-dismiss="modal">Salvesta</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/typeahead.bundle.min.js"></script>
    <script src="js/tagsinput.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
